<html lang="it">
  <head>
    
    <title>Backoffice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script src="https://unpkg.com/@popperjs/core@2"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/backoffice.css">
    <link rel="shortcut icon" href="#">
    <script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>	
    <script type="text/javascript" src="/js/backoffice.js"></script>
  
  </head>

<body style="background-color: #a0b1bb;">

                                                <!-- MODAL LOGIN-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content form-elegant">

      <div class="modal-body p-0">
       
       
           <div class="card">
             <div class="login-box">
               <div class="login-snip"> 
                 <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Accedi</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                 <div class="login-space">
                   <div class="login">
                     <form action="/docs/backend" method="POST">
                     <div class="group"> <label id="ariaUser" for="username" class="label">Username</label> <input id="username" type="text" name="username" class="input" placeholder="Inserisci il tuo username" aria-describedby="ariaUser" required> </div>
                     <div class="group"> <label id="ariaPwd" for="password" class="label">Password</label> <input id="password" type="password" name="password" class="input" data-type="password" placeholder="Inserisci la tua password" aria-describedby="ariaPwd" required> </div>
                     <div class="group"> <input type="submit" class="button" value="Accedi" aria-label="Accedi al backoffice"> </div>
                     <div class="hr"></div>
                    </form>
                   </div>
                 </div>
               
           </div>
         </div>
       </div>
      </div>
 <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div> -->
      </div>
    </div> 
 </div> 
                                                <!-- FINE MODAL LOGIN -->

                                                <!-- MODAL-FLASH -->

<div class="modal fade" id="flash-modal" tabindex="-1" aria-labelledby="flash-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" aria-labelledby="flash-modalLabel1" id="flash-modal1" aria-label="errore">ERRORE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi Finestra"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Immagine di errore">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div aria-label=" DEVI FARE IL LOGIN PER UTILIZZARE QUESTA FUNZIONE" aria-labelledby="flash-modalLabel">
            DEVI FARE IL LOGIN PER UTILIZZARE QUESTA FUNZIONE
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeFlashModal" class="btn btn-secondary" aria-label="Chiudi Finestra" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
                                               <!-- FINE MODAL-FLASH -->


                                               <!-- MODAL INVENTARIO -->


<div class="modal fade" id="vediInventarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog  modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">INVENTARIO</h5>
      </div>
      <div class="modal-body">
        <div id="inventarioContent">
          <div id="inventarioBody">
          </div>
        </div>
      </div>   
      <div class="modal-footer">  
        <button type="button" id="closeModal1" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>     
      </div>  
    </div>   
  </div>
</div>

                                                   <!-- FINE MODAL INVENTARIO -->



                                                   <!-- MODAL VISUALIZZA SINGOLO OGGETTO -->


<div class="modal fade" id="vediOggetto" tabindex="-1" role="dialog" aria-labelledby="vediOggetto" aria-hidden="true">
  <div class="modal-dialog  modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MODIFICA CLIENTI</h5>
      </div>
      <div class="modal-body">
        <div id="content-2">
          <div id="modificaClientiBody">
          </div>
        </div>
      </div>   
      <div class="modal-footer">  
        <button type="button" id="closeModal1" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#vediInventarioModal" onclick="visualizzaClienti(); findClienti()"> Chiudi </button>    
        <button type="button" class="btn btn-primary">Salva</button>     
      </div>  
    </div>   
  </div>
</div>

                                                     <!-- FINE MODAL ANAGRAFICA CLIENTI -->



                                                   <!-- NAVBAR -->

<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand ml-auto">      
      <div class="btn-group" role="group">
        <button class="btn btn-dark btn-outline-light btn-lg" type="button"> NOLO-NOLO BACKOFFICE </button>
        <button type="button" class="btn btn-outline-light btn-lg btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Vedi Azioni Dropd</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="nav-item">
           <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#flash-modal">
            Anagrafica clienti
           </button>
          </li>
          <li class="nav-item">
           <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#vediInventarioModal" onclick="visualizzaInventario(); getGames()">
             Inventario
            </button>
          </li>   
       </ul>
      </div>
    </div>
      <form class="d-flex w-50 bottom-0 my-auto">
        <input class="form-control me-2" id="searchFilterNavbar" type="search" onkeyup="searchNavbar()" placeholder="Cerca" aria-label="inserisci la tua parola chiave di ricerca">
        <button class="btn btn-outline-light" type="submit">Cerca</button>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">                      
          <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModal"> Accedi</button>  
        </li>
      </ul> 
  </div>
</nav>
 
                                                  <!-- FINE NAVBAR -->



                                                                                             <!-- CARD LIST -->
                                                   



 <div class="album py-5">
  <div class="container">
    <div id="card-list" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  </div>
 </div>
</div>


                                                 <!-- MODAL IPOTESI DI NOLEGGIO -->

 <div class="modal fade" id="noleggia-modal" tabindex="-1" aria-labelledby="card-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
          <h2 class="useruser">IPOTESI DI NOLEGGIO</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <div class="mb-3">
            <label for="titoloNoleggiato">TITOLO :</label>  
            <input type="text" class="newval" id="titoloNoleggiato" name="titoloNoleggiato" size="50" readonly><br><br>
          </div>
          <div class="mb-3">       
            <label class="formGroupExampleInput" for="usernameCliente">NOME CLIENTE </label>
              <select class="form-control" id="usernameCliente" name="usernameCliente">   
                <option selected>Scegli...</option>
              </select> 
              <br>
              <button type="button" class="btn btn-primary" onclick="calcolaPuntiCliente()">Calcola punti fedeltà</button>  
          </div>
          <div style="margin-top: 40px; margin-bottom: 40px;">
            <h4>Periodo di noleggio :</h4>
            <label for="inizioNoleggio">Da:</label>
            <input class="newval" type="date" id="inizioNoleggio" name="inizioNoleggio">
            <label for="fineNoleggio">A:</label>
            <input class="newval" type="date" id="fineNoleggio" name="fineNoleggio">
            <button type="button" class="btn btn-primary" onclick="calculateDays()">Calcola costo</button>  
          </div>
          <div style="margin-top: 40px; margin-bottom: 40px;">
            <label for="costo">TARIFFA GIORNALIERA: </label>
            <input class="newval" type="text" id="costo" name="costo" size="20" readonly> euro al giorno
          </div>
          <div style="margin-top: 40px; margin-bottom: 40px;">
            <label for="punti">PUNTI CLIENTE: </label>
            <input class="newval" type="text" id="punti" name="punti" size="20" readonly>
          </div>
          <div style="margin-top: 40px; margin-bottom: 40px;">
            <label for="prezzoTotale">COSTO TOTALE: </label>
            <input class="newval" type="text" id="prezzoTotale" name="prezzoTotale" size="20" readonly> euro       
            <button type="button" class="btn btn-primary" onclick="applicaPunti()">APPLICA PUNTI</button> 
          </div>
          <div class="mb-3">       
            <label class="formGroupExampleInput" for="stato">INDICARE LO STATO DEL NOLEGGIO : </label>
              <select class="form-control" id="stato" name="stato">   
                <option selected>Scegli...</option>
                <option value="in corso">in corso</option>
                <option value="passato">passato</option>
                <option value="futuro">futuro</option>
              </select> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
window.onload = function() {
  getGames();
  //getDipendenti();
  //findClienti();
};
</script>

<script>
  $(document).ready(function(){
      
      // Close modal on button click
      $(".closeFlashModal").click(function(){
          $("#flash-modal").modal('hide');
      });
  });
</script>

</body>




</html>




