<!doctype html>
<html lang="it">
  <head>
      <title>Frontoffice logged</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Bootstrap CDN -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="//code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="shortcut icon" href="#">

      <!-- vue.js CDN
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      -->

      <!-- vue.js -->
      <script type="text/javascript" src="/js/vue.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/frontoffice.css">
      <link rel="stylesheet" type="text/css" href="/css/login.css">
      <script type="text/javascript" src="/js/frontoffice.js"></script>


</head>

<body style="background-color: #031336;">
  <div id="app">

  <!-- NAVBAR -->
    <nav class="navbar navbar-dark navbar-expand-md bg-primary sticky-top py-4">
      <div style="margin-right: 10px; margin-left: 10px;" class="container-fluid">
        <a class="navbar-brand ml-auto" id="titleUser">NOLO NOLO</a>
        </button>
        <form class="d-flex w-50 bottom-0 my-auto d-none d-lg-block">
          <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="inserisci la tua parola chiave di ricerca" v-model="searchQuery">
        </form>
        <div class="nav-item navbar-nav mr-auto dropstart">
          <a role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" v-model="user = '<%= username %>'">Ciao <%= username %></a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#clientModal" v-on:click="reloadUsers()">il Mio Account</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#noleggiModal">I Miei Ordini</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/frontendlogout" aria-label="Esci dal frotoffice">Esci</a></li>
          </ul>                 
        </div>
      </div>
    </nav>


<!-- modal cliente -->
  <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="modalClient" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Il Mio Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div v-for="item in utenti" :key="item.username" v-if="item.username == user">
            <h4 style="text-align: center;">Benvenuto {{ item.nome }} {{ item.cognome }}</h4>
            <h5>I Tuoi Dati</h5>
            <h6>Username: {{ item.username }}</h6>
            <h6>Via: {{ item.via }}</h6>
            <h6>Città: {{ item.citta }}</h6>
            <h6 style="margin-bottom: 40px;" v-model="punti = item.punti">Punti fedeltà: {{ item.punti }}</h6>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificaCliente">modifica</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- modal modifica cliente -->
  <div class="modal fade" id="modificaCliente" tabindex="-1" aria-labelledby="modalClient" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Il Mio Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div v-for="item in utenti" :key="item.username" v-if="item.username == user">
            <form class="needs-validation" method="POST" action="/db/updateUser" v-model="oldUser = item._id" id="modUserForm">
              <div class="mb-3">
                <label for="validationDefaultFirstname" class="form-label">Nome</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationDefaultFirstname" name="nome" :value="item.nome" aria-describedby="inputGroupPrepend1" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="validationDefaultLastname" class="form-label">Cognome</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationDefaultLastname" name="cognome" :value="item.cognome" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="usernameval" class="form-label">Username</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="usernameval" name="username" :value="item.username" aria-describedby="inputGroupPrepend3" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="validationPW" class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="validationPW" name="password" aria-describedby="inputGroupPrepend4" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="validationbill" class="form-label">Città</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationbill" name="citta" :value="item.citta" aria-describedby="inputGroupPrepend5" required>
                </div>
              </div>
              <div class="mb-3">
                <label for="validationcity" class="form-label">Via</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationcity" name="via" :value="item.via" aria-describedby="inputGroupPrepend6" required>
                </div>
              </div>
              <button type="button" class="btn btn-success" v-on:click="postUser()">conferma modifiche</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- modal noleggi -->
  <div class="modal fade" id="noleggiModal" tabindex="-1" aria-labelledby="modalNoleggi" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">I Miei Ordini</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-between" v-for="item in userItems" :key="item.usernameCliente" v-if="item.usernameCliente == user" style="margin-bottom: 40px;">
            <div class="">
              <h7 class="tagRed leaseTag" v-if="item.stato == 'concluso'">concluso</h7>
              <h7 class="tagWarning leaseTag" v-else-if="item.stato == 'futuro'">futuro</h7>
              <h7 class="tagGreen leaseTag" v-else>attivo</h7>

              <h5 class="">{{ item.titoloNoleggiato }}</h5>
              <div>dal {{ item.inizioNoleggio }} al {{ item.fineNoleggio }}</div>
              <div>prezzo: {{ item.prezzoTotale }}€</div>
            </div>
            <div v-if="item.stato == 'futuro'">
              <!--<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificaNoleggio" v-on:click="popoModal(item)">Modifica noleggio</button>-->
              <button class="btn btn-danger" v-on:click="deleteLease(item._id), decreasePoints()">Cancella noleggio</button>
            </div>
            <div v-else-if="item.stato == 'concluso'">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalinvoice" v-on:click="triggerModalInvoice(item)">Visualizza Fatture</button>
            </div>
            <div v-else>
              <button class="btn btn-success" disabled>In corso</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal modifica noleggi
  <div class="modal fade" id="modificaNoleggio" tabindex="-1" aria-labelledby="modalNoleggio" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ modalItem.titoloNoleggiato }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <h4>Periodo noleggio</h4>
                <label for="startRent">Da:</label>
                <input type="date" id="startRent" name="startRent" v-model="startDate">
                <label for="finishRent">A:</label>
                <input type="date" id="finishRent" name="finishRent" v-model="endDate">
              </div>
              <button type="button" class="btn btn-primary" class="me-auto" v-on:click="calculateDate()">calcola</button>
              <div class="mb-3">
                <label for="validationDefaultFirstname" class="form-label">Prezzo: {{ ipoteticalPrice }}</label>
              </div>
              <button type="button" class="btn btn-success" v-on:click="modificaLease(modalItem)">conferma modifiche</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

 <!-- modal fatture -->
  <div class="modal fade" id="modalinvoice" tabindex="-1" aria-labelledby="modalinvoice" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="margin: 50px;" id="ricevuta">
          <div class="d-flex justify-content-between">
            <h6>Ricevuta di fine noleggio</h6>
            <h3>Nolo Nolo Plus</h3>
            <h6>Titolo Noleggiato: {{ invoice.titoloNoleggiato }}</h6>
          </div>

          <div class="d-flex justify-content-between">
            <div style="margin-left: 0;">
              <h5>Via delle Forre 44,</h5>
              <h5>Alto Reno Terme, Bologna,</h5>
              <h5>40046</h5>
            </div>
            <div style="margin-right: 0;">
              <h5>Fattura A:</h5>
              <h5>{{ user }}</h5>
              <h5></h4>
            </div>
          </div>
          <div style="padding: 30px; margin: 100px; border: 5px solid grey" class="d-flex justify-content-between">
            <div>
              <h5>Titolo Noleggiato: {{ invoice.titoloNoleggiato }} per {{ invoice.piattaforma }}</h5>
              <h5>Quantità: 1</h5>
              <h5>Prezzo Totale: {{ invoice.prezzoTotale }}€</h5>
            </div>
            <div>
              <h5>Inizio noleggio: {{ invoice.inizioNoleggio }}</h5>
              <h5>Fine noleggio: {{ invoice.fineNoleggio }}</h5>
            </div>
          </div>
          <button class="btn btn-secondary" v-on:click="printInvoice(invoice)" data-html2canvas-ignore="true">Print Invoice</button>
        </div>
      </div>
    </div>
  </div>

 <!-- modal delete success -->
  <div class="modal fade" id="modalSuccess" tabindex="-1" aria-labelledby="modalSuccess" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Noleggio eliminato con successo</h5>
        </div>
      </div>
    </div>
  </div>

 <!-- modal modfiche success -->
  <div class="modal fade" id="userModalSuccess" tabindex="-1" aria-labelledby="userModalSuccess" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Modifiche avvenute con successo</h6>
        </div>
      </div>
    </div>
  </div>

 <!-- modal error -->
  <div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="modalError" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: red;">Operazione non possibile al momento</h6>
        </div>
      </div>
    </div>
  </div>

 <!-- modal empty -->
  <div class="modal fade" id="emptyInput" tabindex="-1" aria-labelledby="emptyInput" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: red;">Completa tutti i campi</h6>
        </div>
      </div>
    </div>
  </div>

 <!-- modal punti info -->
  <div class="modal fade" id="infoPoints" tabindex="-1" aria-labelledby="infopoints" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Modalità funzionamento dei punti fedeltà: Ad ogni noleggio, il numero dei punti fedeltà aumenterà di 10. Ogni 10 punti sarà applicato uno sconto di un euro al noleggio.</h5>
        </div>
      </div>
    </div>
  </div>

 <!-- modal noleggio occupato -->
  <div class="modal fade" id="fullnol" tabindex="-1" aria-labelledby="NoleggioFull" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: red;">Noleggio non disponibile in questa data</h6>
        </div>
      </div>
    </div>
  </div>

 <!-- modal noleggio riuscito -->
  <div class="modal fade" id="nolok" tabindex="-1" aria-labelledby="NoleggioOk" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: green;">Noleggio effettuato con successo!!!</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- filterbar -->
    <div class="btn-group filterBar">
      <button v-if="searchQuery != ''" class="btn btn-danger" type="button" v-on:click="searchQuery = ''">Elimina filtro</button>
      <button class="btn btn-light active" :class="{ active: searchQuery == 'Playstation 5' }" type="button" v-on:click="searchQuery = 'Playstation 5'">ps5</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'Playstation 4'">ps4</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'Xbox One'">Xbox One</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'Xbox Serie X/S'">Xbox X/S</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'Pc'">Pc</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'Nuovo'">Nuovi</button>
      <button class="btn btn-light" type="button" v-on:click="searchQuery = 'true'">Disponibili</button>
    </div>


  <!-- TABELLA CARD NOLEGGI PRINCIPALE -->
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col" v-for="(item, index) in resultQuery" :key="index">
          <!-- implementare card 'Nessun elemento' -->       
          <div class="card shadow-sm gameCard" style="text-align: center;">
            <div class="pegi">PEGI {{ item.etaMinima }}</div>
            <img v-if="item.platform == 'Playstation 4' || item.platform == 'Playstation 5'" class="platform-logo playstation" src="/img/playstation-brands.svg" alt="Card image1">
            <img v-else-if="item.platform == 'Xbox One' || item.platform == 'Xbox Serie X/S'" class="platform-logo xbox" src="/img/xbox-brands.svg" alt="Card image1">
            <img v-else-if="item.platform == 'Pc'" class="platform-logo pc" src="/img/laptop-solid.svg" alt="Card image1">

            <img class="card-img-top" :src=item.img alt="Card image1">
            <div class="card-body">
              <h4 class="card-title" style="color: white;">{{ item.game }}</h4>
              <!--
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card-modal">Noleggia</a>-->
              <a data-bs-toggle="modal" data-bs-target="#card-modal" class="rentbtn" v-on:click="popoModal(item)">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Noleggia
              </a>
              <h6 style="color: white; margin-top: 10px;">{{ item.prezzo }}€ al giorno</h6>
            </div>
            <div class="card-footer">
              <small class="text-muted" style="position: absolute; right: 0; margin-right: 10px;">{{ item.annoUscita }}</small>
              <small class="text-muted">in {{ item.condizioni }} condizioni</small>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

   <!-- MODAL NOLEGGIO -->
   <div class="modal fade" id="card-modal" tabindex="-1" aria-labelledby="card-modalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ modalItem.game }} per {{ modalItem.platform }}</h5>
          <h7 v-if="modalItem.disponibile == 'false'" style="margin-left: 20px; color: red;">Non Disponibile</h7>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="ipoteticalPrice = 0"></button>
        </div>
        <form class="needs-validation" method="POST" action="/createnoleggio">
          <div class="modal-body">
            <div class="card-body">
              <textarea class="form-control" id="validationDefaultUsername" name="usernameCliente" hidden>{{ user }}</textarea>
              <textarea class="form-control" id="validationDefaultTitle" name="titoloNoleggiato" hidden>{{ modalItem.game }}</textarea>
              <textarea class="form-control" id="validationDefaultPlatform" name="piattaforma" hidden>{{ modalItem.platform }}</textarea>
              <textarea class="form-control" id="validationDefaultPrice" name="prezzoTotale" hidden>{{ ipoteticalPrice }}</textarea>
              <textarea class="form-control" id="validationDefaultPrice" name="stato" hidden></textarea>
              <textarea class="form-control" id="validationDefaultPrice" name="idGioco" v-model="id = modalItem._id" hidden>{{ modalItem._id }}</textarea>
              <h5>Il gioco è uscito nel {{ modalItem.annoUscita }}, è {{ modalItem.stato }} e in {{ modalItem.condizioni }} condizioni.</h5>
              <h6>Età minima: {{ modalItem.etaMinima }}</h6>
              <h6>Peso: {{ modalItem.peso }}</h6>
              <h6>Numero giocatori: {{ modalItem.numGiocatori }}</h6>
              <div style="margin-top: 40px; margin-bottom: 40px;">
                <h4>Quando vorresti noleggiarlo?</h4>
                <label for="startRent">Da:</label>
                <input type="date" id="inizioNoleggio" name="inizioNoleggio" v-model="startDate">
                <label for="finishRent">A:</label>
                <input type="date" id="fineNoleggio" name="fineNoleggio" v-model="endDate">
              </div>
              <h5 v-for="item in utenti" v-if="item.username == user" v-model="points = item.punti">I tuoi punti fedeltà: {{ item.punti }}</h5>
              <!--<button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#infoPoints">come funzionano i punti fedeltà?</button>-->
            </div>
          </div>
          <div class="modal-footer">
            <p v-if="ipoteticalPrice > 0 && ipoteticalPrice != '' && ipoteticalPrice != 'err'" class="me-auto">prezzo: {{ ipoteticalPrice }}€</p>
            <p v-else-if="ipoteticalPrice == 'err'" class="me-auto" style="color: red;">Errore: puoi scegliere solo noleggi nel futuro!</p>
            <p v-else-if="ipoteticalPrice < 0" class="me-auto" style="color: red;">Errore: Il noleggio deve iniziare prima della fine</p>

            <button v-if="modalItem.disponibile" type="button" class="btn btn-primary" class="me-auto" v-on:click="calculateDate(modalItem.prezzo), checkDisponibilità(modalItem)">Verifica disponibilità</button>

            <button v-if="checkData == 'ok' && modalItem.disponibile == 'true' && ipoteticalPrice != 'err' && ipoteticalPrice != '' && ipoteticalPrice > 0" type="submit" class="btn btn-primary" v-on:click="createLease(), updatePoints()">Noleggia</button>
            <!--
            <button v-else-if="checkData != 'ok' || modalItem.disponibile == 'true' && (ipoteticalPrice == 'err' || ipoteticalPrice == '' || ipoteticalPrice <= 0)" type="submit" class="btn btn-primary" disabled>Noleggia</button>
            -->
            <button v-else class="btn btn-primary disabled">Noleggia</button>
          </div>
        </form>
      </div>
    </div>
  </div>

 </div>

  <script type="text/javascript">
      
    new Vue({
      el: "#app",
      data () {
        return {
          searchQuery: '',
          items: '',
          user: '',
          utenti: '',
          points: '',
          userItems: '',
          modalItem: '',
          startDate: '',
          endDate: '',
          ipoteticalPrice: '',
          showModal: false,

          //invoice item
          invoice: '',

          //modifica user
          formData: [],
          oldUser : '',

          //crea noleggio
          compareElem: '',
          postLeaseItem: '',
          id: '',
          checkData: ''
        }
      },

      mounted () {
        //chiamate iniziali axios al db
        axios
          .get('/db/getGames')
          .then(response => (this.items = response.data.result));

        axios
          .get('/db/getUserItems')
          .then(gg => (this.userItems = gg.data.result));

        axios
          .get('/db/findClienti')
          .then(response => (this.utenti = response.data.result));
      },

      computed: {
        //Funzione per la ricerca della searchbar e per i filtri della filterbar
        resultQuery(){
          if(this.searchQuery !== "" && this.searchQuery !== "Nuovo" && this.searchQuery !== "Xbox One" && this.searchQuery !== "Xbox Serie X/S"  && this.searchQuery !== "Playstation 5" && this.searchQuery !== "Pc" && this.searchQuery !== "Playstation 4" && this.searchQuery !== "Nintendo" && this.searchQuery !== "true"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.game.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Nuovo"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.stato.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Playstation 5"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Playstation 4"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Nintendo"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Pc"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Xbox One"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == "Xbox Serie X/S"){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.platform.toLowerCase().includes(v))
            })
          }
          else if (this.searchQuery == 'true'){
            let disp = true
            return this.items.filter((gg)=>{
              return gg.disponibile
            })
          }
          else{
            return this.items;
          }
        },
      },
      methods: {
        //nuova chiamata ai dati aggiornati
        reloadUsers(){
          axios
            .get('/db/findClienti')
            .then(response => (this.utenti = response.data.result));
        },

        //Ritorna il cliente
        getCliente(){
          axios
            .get('/db/findClienti')
            .then(response => (this.utenti = response.data.result));
        },

        //parametri per il modal noleggi
        popoModal(item){
          this.modalItem = item;
        },

        //parametri per le fatture
        triggerModalInvoice(item){
          this.invoice = item;
        },

        //funzioni per il calcolo delle date
        parseDate(date){
          var mdy = date.split('-');
          return new Date(mdy[0], mdy[1], mdy[2]);
        },

        //funzioni per il calcolo delle date
        datediff(first, second) {
          return Math.round((second-first)/(1000*60*60*24));
        },

        //calcolo prezzo in base alla data scelta (con eventuali errori)
        calculateDate(item){
          let yourDate = new Date().toISOString().split('T')[0];
          console.log(yourDate, this.startDate, this.endDate);
          //console.log(this.datediff(this.parseDate(yourDate), this.parseDate(this.startDate)));
          if(this.datediff(this.parseDate(this.startDate), this.parseDate(this.endDate)) > 0 && this.datediff(this.parseDate(yourDate), this.parseDate(this.startDate)) >= 0){
            this.ipoteticalPrice = parseFloat(item) * (this.datediff(this.parseDate(this.startDate), this.parseDate(this.endDate)));
            //applica punti solo se i punti/10 sono minori del prezzo... sennò prezzo negativo
            if ((this.points/10) < this.ipoteticalPrice){
              this.ipoteticalPrice = this.ipoteticalPrice - (this.points / 10);
            }
              this.ipoteticalPrice = this.ipoteticalPrice.toFixed(2);
          }
          else if(this.datediff(this.parseDate(this.startDate), this.parseDate(this.endDate)) <= 0){
            this.ipoteticalPrice = -1
          }
          else{
            this.ipoteticalPrice = 'err'
          }
          console.log(this.ipoteticalPrice);
        },

        //funzione di controllo per la disponibilità del noleggio nelle date scelte (sovrapposizione)
        checkDisponibilità(item){
          var noleggioItem = item;
          /*
          if(noleggioItem.dataIndisponibilitaI != '' || noleggioItem.dataIndisponibilitaF != ''){
              if(this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaI), this.parseDate(this.startDate)) > 0 && this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaF), this.parseDate(this.startDate)) < 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
              }
              else if(this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaI), this.parseDate(this.endDate)) > 0 && this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaF), this.parseDate(this.endDate)) < 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
              }
              else if(this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaI), this.parseDate(this.startDate)) < 0 && this.datediff(this.parseDate(noleggioItem.dataIndisponibilitaF), this.parseDate(this.endDate)) > 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
              }
          }
          */
          for (let i = 0; i < this.userItems.length; i++){
            if(this.id == this.userItems[i].idGioco){
              //caso inizio noleggio tra inizio e fine del titolo già noleggiato
              if(this.datediff(this.parseDate(this.userItems[i].inizioNoleggio), this.parseDate(this.startDate)) > 0 && this.datediff(this.parseDate(this.userItems[i].fineNoleggio), this.parseDate(this.startDate)) < 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
                break;
              }
              //caso fine noleggio tra inizio e fine del titolo già noleggiato
              else if(this.datediff(this.parseDate(this.userItems[i].inizioNoleggio), this.parseDate(this.endDate)) > 0 && this.datediff(this.parseDate(this.userItems[i].fineNoleggio), this.parseDate(this.endDate)) < 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
                break;
              }
              //caso inizio noleggio prima del noleggio titolo e fine noleggio dopo noleggio titolo
              else if(this.datediff(this.parseDate(this.userItems[i].inizioNoleggio), this.parseDate(this.startDate)) < 0 && this.datediff(this.parseDate(this.userItems[i].fineNoleggio), this.parseDate(this.endDate)) > 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
                break;
              }
              //caso inizio noleggio e fine noleggio coincidono con quelle del titolo noleggiato
              else if(this.datediff(this.parseDate(this.userItems[i].inizioNoleggio), this.parseDate(this.startDate)) == 0 && this.datediff(this.parseDate(this.userItems[i].fineNoleggio), this.parseDate(this.endDate)) == 0){
                this.checkData = 'occupato';
                console.log('occupato');
                $('#fullnol').modal('toggle');
                break;
              }
              else {
                this.checkData = 'ok';
                console.log('ok');
              }
            }
            else {
              this.checkData = 'ok';
              console.log('ok');
            }
          }
        },

        //funzione per la modifica dati dell'utente
        postUser(){
          var formData = $("#modUserForm").serializeArray();
          console.log(formData[0]);
          if(
            formData[0].value != "" &&
            formData[1].value != "" &&
            formData[2].value != "" &&
            formData[3].value != "" &&
            formData[4].value != "" && 
            formData[5].value != "" 
      
          ){
            console.log(formData);
            const oldUser = this.oldUser
            var body = {oldUser, formData}

            $.ajax({

              url: "/db/updateClient",
              type: "POST",
              data: { oldUser, formData },
              dataType: "json",
              contentType: "application/x-www-form-urlencoded",
              success: function(data){
                $('#modificaCliente').modal('hide');
                $('#userModalSuccess').modal('toggle');
              },
              error: function(){
                $('#modalError').modal('toggle');
              }
            });
          }
          else {
            $('#emptyInput').modal('toggle');
          }
        },

        //funzione elimina noleggio
        deleteLease(userID){
          var oldObject = userID;
          $.ajax({

            url: "/db/deleteLease",
            type: "DELETE",
            data: { oldObject },
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function(data){
              $('#noleggiModal').modal('hide');
              $('#modalSuccess').modal('toggle');
            },
            error: function(){
              $('#noleggiModal').modal('hide');
              $('#modalSuccess').modal('toggle');
              setTimeout('', 2000);
              //location.reload();
            }
          });

          axios
            .get('/db/getUserItems')
            .then(gg => (this.userItems = gg.data.result));
        },

        //trigger modal per avvenuto noleggio
        createLease(){
          $('#card-modal').modal('hide');
          $('#nolok').modal('toggle');
        },

        //aggiorna punti dopo noleggio (di 10)
        updatePoints(){
          var user = this.user;
          var points = this.points;
            $.ajax({
              url: "/db/updatePuntiClientSide",
              type: "POST",
              data: { user, points },
              dataType: "json",
              contentType: "application/x-www-form-urlencoded",
              success: function(data){
                console.log(data);
                //$('#modificaCliente').modal('hide');
                //$('#userModalSuccess').modal('toggle');
              },
              error: function(){
                $('#modalError').modal('toggle');
              }
            });
        },

        //decrementa punti (di 10), triggerata quando il noleggio viene cancellato
        decreasePoints(){
          var user = this.user;
          var points = this.points;
            $.ajax({
              url: "/db/decreasePuntiClientSide",
              type: "POST",
              data: { user, points },
              dataType: "json",
              contentType: "application/x-www-form-urlencoded",
              success: function(data){
                console.log(data);
                //$('#modificaCliente').modal('hide');
                //$('#userModalSuccess').modal('toggle');
              },
              error: function(){
                $('#modalError').modal('toggle');
              }
            });
        },

        //stampa ricevuta
        printInvoice(item){
          var invoice = item;
          const element = document.getElementById('ricevuta');
          const opt = {
            filename: 'Ricevuta ' + invoice.titoloNoleggiato + ' per ' + invoice.piattaforma,
            margin: 0,
            image: {type: 'jpeg', quality: 0.9},
            jsPDF: {format: 'letter', orientation: 'portrait'}
          }
          html2pdf().set(opt).from(element).save();
        },
      },
    });

  </script>
</div>
</body>
</html>