<!doctype html>
<html lang="it">
  <head>
      <title>Frontoffice</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Bootstrap CDN -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <link rel="shortcut icon" href="#">

      <!-- vue.js CDN
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      -->

      <!-- vue.js -->
      <script type="text/javascript" src="/js/vue.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/frontoffice.css">
      <link rel="stylesheet" type="text/css" href="/css/login.css">
      <script type="text/javascript" src="/js/frontoffice.js"></script>


</head>

<body style="background-color: #031336;">
  <div id="app">


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
    <!-- Modal Header 
       <div class="modal-header">
         <h4 class="modal-title">Log in</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
       </div> -->
    <!-- Modal body -->
       <div class="modal-body p-0">
        
        <div class="row">
          <div class="">
            <div class="card">
              <div class="login-box">
                <div class="login-snip"> 
                  <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                  <label for="tab-1" class="tab">Accedi</label> 
                  <input id="tab-2" type="radio" name="tab" class="sign-up">
                  <label for="tab-2" class="tab">Registrati</label>
                  <div class="login-space">
                    <div class="login">
                      <form action="/docs/frontend" method="POST">
                      <div class="group"> <label id="ariaUser" for="username" class="label">Username</label> <input id="username" type="text" name="username" class="input" placeholder="Inserisci il tuo username" aria-describedby="ariaUser" required> </div>
                      <div class="group"> <label id="ariaPwd" for="password" class="label">Password</label> <input id="password" type="password" name="password" class="input" data-type="password" placeholder="Inserisci la tua password" aria-describedby="ariaPwd" required> </div>
                      <div class="group"> <input type="submit" class="button" value="Accedi"> </div>
                      <div class="hr"></div>
                    </div>
                  </form>
                    <div class="sign-up-form">
                      <form action="/frontendregister" method="POST">
                      <div class="group"> <label id="ariaNome" for="nome" class="label">Nome</label> <input id="nome" type="text" name="nome" class="input" placeholder="Inserisci il tuo nome" aria-describedby="ariaNome" required> </div>
                      <div class="group"> <label id="ariaCognome" for="cognome" class="label">Cognome</label> <input id="cognome" type="text" name="cognome" class="input" placeholder="Inserisci il tuo cognome" aria-describedby="ariaCognome" required> </div>
                      <div class="group"> <label id="ariaUsr" for="username" class="label">Username</label> <input id="username" type="text" name="username" class="input" placeholder="Crea il tuo Username" aria-describedby="ariaUsr" required> </div>
                      <div class="group"> <label id="ariaPwd1" for="password" class="label">Password</label> <input id="password" type="password" name="password" class="input" data-type="password" placeholder="Crea nuova password" aria-describedby="ariaPwd1" required> </div>
                      <div class="row g-3">
                        <div class="col-sm-8">
                      <div class="group"><label id="ariaVia" for="via" class="label">Via</label> <input id="via" type="text" name="via" class="input" placeholder=" Via, Numero " aria-describedby="ariaVia" required> </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="group"><label id="ariaCity" for="citta" class="label"> Citt&agrave;</label> <input id="citta" type="text" name="citta" class="input" placeholder=" Città " aria-describedby="ariaCity" required> </div>
                        </div>
                      </div>
                      <div class="group"> <input type="submit" class="button" value="Registrati" aria-label="registrati come cliente"> </div>
                      <div class="hr"></div>
                      <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    <!-- Modal footer
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
       </div> -->
       </div>
     </div> 
  </div> 
  <!-- Fine The Modal -->


  <!-- Modal cards 
  <div class="modal fade" id="card-modal" tabindex="-1" aria-labelledby="card-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ item.game }} per {{ item.platform }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <label for="startRent">Da:</label>
            <input type="date" id="startRent" name="startRent">

            <label for="finishRent">A:</label>
            <input type="date" id="finishRent" name="finishRent">
          </div>
        </div>
        <div class="modal-footer">
          <p class="me-auto">costo: $</p>
          <button type="button" class="btn btn-primary" disabled>Noleggia</button>
        </div>
      </div>
    </div>
  </div>
  -->

  <!-- NAVBAR -->
    <nav class="navbar navbar-dark navbar-expand-md bg-primary sticky-top py-4">
      <div class="container-fluid">
        <a class="navbar-brand ml-auto">NOLO NOLO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <form class="d-flex w-50 bottom-0 my-auto">
            <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="inserisci la tua parola chiave di ricerca" v-model="searchQuery">
          </form>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">            
              <!-- Modal button-->
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#myModal">Accedi</button>  
            </li>
          </ul> 
      </div>
    </nav>

  <!-- TABELLA FINALE -->
  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" v-for="item in resultQuery" :key="item.game">
          <!-- implementare card 'Nessun elemento' -->
          <div class="card shadow-sm gameCard" style="text-align: center;">
            <div class="pegi">PEGI {{ item.etaMinima }}</div>
            <img v-if="item.platform == 'Playstation 4' || item.platform == 'Playstation 5'" class="platform-logo playstation" src="/img/playstation-brands.svg" alt="Card image1">
            <img v-else-if="item.platform == 'Xbox One'" class="platform-logo xbox" src="/img/xbox-brands.svg" alt="Card image1">
            <img v-else-if="item.platform == 'Pc'" class="platform-logo pc" src="/img/laptop-solid.svg" alt="Card image1">
            <div v-else class="platform-logo nintendo">Nintendo</div>
            <img class="card-img-top" src="/img/prova1.png" alt="Card image1">
            <div class="card-body">
              <h4 class="card-title" style="color: white;">{{ item.game }}</h4>
              <!--
              <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card-modal">Noleggia</a>-->
              <a data-bs-toggle="modal" data-bs-target="#card-modal" class="rentbtn" v-on:click="popoModal(item)"true>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Noleggia
              </a>
              <h6 style="color: white; margin-top: 10px;">{{ item.prezzo }}€ al giorno</h6>
            </div>
            <div class="card-footer">
              <small class="text-muted" style="position: absolute; right: 0; margin-right: 10px;">{{ item.annoUscita }}</small>
              <small class="text-muted">in {{ item.condizioni }} condizioni</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- modal finale -->
   <div class="modal fade" id="card-modal" tabindex="-1" aria-labelledby="card-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ modalItem.game }} per {{ modalItem.platform }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <label for="startRent">Da:</label>
            <input type="date" id="startRent" name="startRent" v-model="startDate">

            <label for="finishRent">A:</label>
            <input type="date" id="finishRent" name="finishRent" v-model="endDate">
          </div>
        </div>
        <div class="modal-footer">
          <p class="me-auto">costo: {{ modalItem.prezzo }}€</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Accedi per noleggiare</button>
        </div>
      </div>
    </div>
  </div>


 </div>

  <script type="text/javascript">
      
    new Vue({
      el: "#app",
      data () {
        return {
          searchQuery: '',
          items: '',
          modalItem: '',
          startDate: '',
          endDate: '',
          showModal: false
        }
      },

      mounted () {
        axios
          .get('/db/getGames')
          .then(response => (this.items = response.data.result))
      },

      computed: {
        resultQuery(){
          if(this.searchQuery){
            return this.items.filter((gg)=>{
              return this.searchQuery.toLowerCase().split(' ').every(v => gg.game.toLowerCase().includes(v))
            })
          }
          else{
            return this.items;
          }
        }
      },
      methods: {
        popoModal(item){
          this.modalItem = item;
        },

        parseDate(date){
          var mdy = date.split('/');
          return new Date(mdy[2], mdy[0]-1, mdy[1]);
        },

        datediff(first, second) {
          return Math.round((second-first)/(1000*60*60*24));
        },

        calculateDate(){
          //console.log(this.datediff(this.parseDate(this.startDate.value), this.parseDate(this.endDate.value)));
          var mdyOne = this.startDate.split('-');
          var mdyTwo = this.endDate.split('-');
          console.log(mdyOne);
        }
      },
    })

  </script>
</div>
</body>
</html>