#menu-title{

    color:rgb(245, 221, 179);
    letter-spacing: 3px;
}

.filterBar {
  display: flex;
  justify-content: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

td {
    text-align: center;
}


.table-responsive{

    width: 110%;   

    text-align: left;

}

th.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.platform-logo {
    margin: 10px;
    height: 30px;
    right: 0;
    position: absolute;
}

.xbox {
    color: green;
}

.nintendo {
  color: #bfc7d9;
}

.pegi {
    margin: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    color: #a5acc4;
}

.gameCard {
    background-color: #031321;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas, sans-serif;
}

:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
}

.rentbtn {
  position: relative;
  display: block;
  padding: 10px 4px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}
.rentbtn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 80px var(--primary-color), 0 0 160px var(--primary-color);
  transition-delay: 1s;
}

.rentbtn span {
  position: absolute;
  display: block;
}
.rentbtn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}
.rentbtn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}
.rentbtn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}
.rentbtn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

.th-sm{

  text-align: center;
}

#form-center {
  display:flex;
  justify-content: center;
}























/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    margin: 40px 0 0;
    line-height: 1.2;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

p, ul, ol {
    margin-bottom: 10px;
    font-weight: normal;
}
p li, ul li, ol li {
    margin-left: 5px;
    list-style-position: inside;
}

/* -------------------------------------
    LINKS & BUTTONS
------------------------------------- */
a {
    color: #1ab394;
    text-decoration: underline;
}

.btn-primary {
    text-decoration: none;
    color: #FFF;
    background-color: #1ab394;
    border: solid #1ab394;
    border-width: 5px 10px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    text-transform: capitalize;
}

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
    margin-bottom: 0;
}

.first {
    margin-top: 0;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.clear {
    clear: both;
}

/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
.alert {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    border-radius: 3px 3px 0 0;
}
.alert a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
.alert.alert-warning {
    background: #f8ac59;
}
.alert.alert-bad {
    background: #ed5565;
}
.alert.alert-good {
    background: #1ab394;
}

/* -------------------------------------
    INVOICE
    Styles for the billing table
------------------------------------- */
.invoice {
    margin: 40px auto;
    text-align: left;
    width: 80%;
}
.invoice td {
    padding: 5px 0;
}
.invoice .invoice-items {
    width: 100%;
}
.invoice .invoice-items td {
    border-top: #eee 1px solid;
}
.invoice .invoice-items .total td {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-weight: 700;
}

/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (max-width: 640px) {
    h1, h2, h3, h4 {
        font-weight: 600 !important;
        margin: 20px 0 5px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    .container {
        width: 100% !important;
    }

    .content, .content-wrap {
        padding: 10px !important;
    }

    .invoice {
        width: 100% !important;
    }
}
