#menu-title{

    color:rgb(245, 221, 179);
    letter-spacing: 3px;
}

.filterBar {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

td {
    text-align: center;
}

.leaseTag {
  border-radius: 20px;
  text-align: center; 
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.tagRed {
  border: 2px solid red;
}

.tagWarning {
  border: 2px solid orange;
}

.tagGreen {
  border: 2px solid green;
}

.table-responsive{

    width: 110%;   

    text-align: left;

}

th.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.platform-logo {
    margin: 10px;
    height: 30px;
    right: 0;
    position: absolute;
}


.pegi {
    margin: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    color: #a5acc4;
}

.gameCard {
    background-color: #031321;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas, sans-serif;
}

:root {
  --bg-color: #031321;
  --primary-color: #2196f3;
  --secondary-color: #255784;
}

.rentbtn {
  position: relative;
  display: block;
  padding: 10px 4px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}
.rentbtn:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
    0 0 80px var(--primary-color), 0 0 160px var(--primary-color);
  transition-delay: 1s;
}

.rentbtn span {
  position: absolute;
  display: block;
}
.rentbtn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}
.rentbtn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}
.rentbtn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}
.rentbtn span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primary-color));
}
.rentbtn:hover span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

