#menu-title{

    color:rgb(245, 221, 179);
    letter-spacing: 3px;
}

td {
    text-align: center;
}


.table-responsive{

    width: 110%;   

    text-align: left;

}

th.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


