<!doctype html>
<html lang="it">
  <head>
      <title>Frontoffice</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Bootstrap CDN -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

      <!-- vue.js CDN
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      -->

      <!-- vue.js -->
      <script type="text/javascript" src="/js/vue.min.js"></script>
      
      <link rel="stylesheet" type="text/css" href="/css/frontoffice.css">
      <link rel="stylesheet" type="text/css" href="/css/login.css">
     
</head>

<body>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
     <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
  <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">Log in</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
       </div>
  <!-- Modal body -->
       <div class="modal-body">
        
        <div class="row">
          <div class="col-md-6 mx-auto p-0">
            <div class="card">
              <div class="login-box">
                <div class="login-snip"> 
                  <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                  <div class="login-space">
                    <div class="login">
                      <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Enter your username"> </div>
                      <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password"> </div>
                      <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                      <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                      <div class="hr"></div>
                      <div class="foot"> <a href="#">Forgot Password?</a> </div>
                    </div>
                    <div class="sign-up-form">
                      <div class="group"> <label for="user" class="label">Username</label> <input id="user" type="text" class="input" placeholder="Create your Username"> </div>
                      <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password"> </div>
                      <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Repeat your password"> </div>
                      <div class="group"> <label for="pass" class="label">Email Address</label> <input id="pass" type="text" class="input" placeholder="Enter your email address"> </div>
                      <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                      <div class="hr"></div>
                      <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
  <!-- Modal footer -->
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
       </div>
       </div>
     </div>
  </div>
<!-- Fine The Modal -->

  <!-- Modal cards -->
  <div class="modal fade" id="card-modal" tabindex="-1" aria-labelledby="card-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ selectitem.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="card-img-top" src="/img/prova1.png" alt="Card image1">
          <div class="card-body">
            <p class="card-text">{{ selectitem.message }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <p class="me-auto">costo: ${{ selectitem.price }}</p>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-primary">Richiedi noleggio</button>
        </div>
      </div>
    </div>
  </div>



  <!-- NAVBAR  -->
    <nav class="navbar navbar-dark bg-primary sticky-top py-4">
      <div class="container-fluid">
        <a class="navbar-brand ml-auto">NOLO NOLO</a>
          <form class="d-flex w-50 bottom-0 my-auto">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">            
              <!-- Modal button-->
              <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#myModal">Accedi</button>  
            </li>
          </ul> 
      </div>
    </nav>

  <!--  TABELLA VEICOLI A DUE RUOTE-->
  <div class="container mt-5">
    <div class="table-responsive">
        <table class="card-table table-borderless myTable"> 
          <thead>
            <tr>
              <th colspan ="10" id="app">{{ message }}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="list-1">
              <td v-for="item in items" :key="item.message">
               <div class="col-sm-4">
                 <div class="card" style="width:500px">
                     <img class="card-img-top" src="/img/prova1.png" alt="Card image1">
                       <div class="card-body">
                         <h4 class="card-title">{{ item.title }}</h4>
                         <p class="card-text">{{ item.message }}</p>
                         <a v-if="item.disponibile === 'True'" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card-modal">Vedi</a>
                         <a v-else-if="item.disponibile === 'False'" class="btn btn-primary disabled">Non disponibile</a>
                       </div>
                       <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                 </div>
               </div>
              </td>
            </tr>
          </tbody>
       </table>
    </div>
  </div>

  <!--  TABELLA VEICOLI A TRE RUOTE-->

  <div class="container mt-5">
    <div class="table-responsive">
        <table class="card-table table-borderless">
          <thead>
            <tr>
              <th colspan ="10">Veicoli a 3 ruote</th>
            </tr>
          </thead>
          <tbody>
            <tr id="list-2">
              <td v-for="item in items" :key="item.message">
               <div class="col-sm-4">
                 <div class="card" style="width:500px">
                     <img class="card-img-top" src="/img/prova1.png" alt="Card image1">
                       <div class="card-body">
                         <h4 class="card-title">{{ item.title }}</h4>
                         <p class="card-text">{{ item.message }}</p>
                         <a v-if="item.disponibile === 'True'" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#card-modal" user="'item'" @click="sendInfo(item)">Vedi</a>
                         <a v-else-if="item.disponibile === 'False'" class="btn btn-primary disabled">Non disponibile</a>
                       </div>
                       <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                 </div>
               </div>
              </td>
            </tr>
          </tbody>
       </table>
    </div>
  </div>

  <!--  TABELLA VEICOLI A QUATTRO RUOTE-->

  <div class="container mt-5">
    <div class="table-responsive">
        <table class="card-table table-borderless ">
          <thead>
            <tr>
              <th colspan ="10">Veicoli a 4 ruote</th>
            </tr>
          </thead>
          <tbody>
            <tr id="list-3">
              <td v-for="item in items" :key="item.message">
               <div class="col-sm-4">
                 <div class="card" style="width:500px">
                     <img class="card-img-top" src="/img/prova1.png" alt="Card image1">
                       <div class="card-body">
                         <h4 class="card-title">{{ item.title }}</h4>
                         <p class="card-text">{{ item.message }}</p>
                         <a v-if="item.disponibile === 'True'" class="btn btn-primary">Vedi</a>
                         <a v-else-if="item.disponibile === 'False'" class="btn btn-primary disabled">Non disponibile</a>
                       </div>
                       <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </div>
                 </div>
               </div>
              </td>
            </tr>
          </tbody>
       </table>
    </div>
  </div>

    <!--  LISTA PAGINE  -->
    <nav aria-labelledby="lista-pagine" class="my-5">
      <ul class="pagination justify-content-center" style="margin:20px">
        <li class="page-item"><a class="page-link" aria-current="" href="#">Precedente</a></li></li>
        <li class="page-item"><a class="page-link" aria-current="" href="#">1</a></li></li>
        <li class="page-item"><a class="page-link" aria-current="" href="#">2</a></li></li>
        <li class="page-item"><a class="page-link" aria-current="" href="#">3</a></li></li>
        <li class="page-item"><a class="page-link" aria-current="" href="#">Successiva</a></li></li>
     </ul>
   </nav>



  <script type="text/javascript">

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Veicoli a 2 ruote'
      }
    })

    var list1 = new Vue({
      el: '#list-1',
      data: {
        items: [
          {title: 'bicicletta', message: 'Coso 1', disponibile: 'False', price: '5'},
          {title: 'moto', message: 'Coso 2', disponibile: 'True', price: '20'},
          {title: 'moto ma è drill', message: 'Coso 3', disponibile: 'True', price: '30'},
          {title: 'lesssgoo', message: 'Coso 4', disponibile: 'False', price: '100'}

        ]
      }
    })

    var list2 = new Vue({
      el: '#list-2',
      data: {
        items: [
          {title: 'Non esistono', message: 'Coso 1', disponibile: 'True', price: '15'},
          {title: 'i veicoli', message: 'Coso 2', disponibile: 'True', price: '33'},
          {title: 'a tre', message: 'Coso 3', disponibile: 'False', price: '69'},
          {title: 'ruote', message: 'Coso 4', disponibile: 'True', price: '420'}

        ],
        selectitem: '',
      },
      methods: {
        sendInfo(item) {
          this.selectitem = item;
        }
      }
    })

    var list3 = new Vue({
      el: '#list-3',
      data: {
        items: [
          {title: 'veicolo figo', message: 'Coso 1', disponibile: 'True', price: '5'},
          {title: 'veicolo brutto', message: 'Coso 2', disponibile: 'False', price: '225'},
          {title: 'veicolo shish', message: 'Coso 3', disponibile: 'False', price: '35'},
          {title: 'veicolo siuuum', message: 'Coso 4', disponibile: 'True', price: '21'}

        ]
      }
    })

    //per unire tutte le card dopo...
    var list = new Vue({
      el: '#item-list',
      data: {
        items: [
          {title: 'bicicletta', message: 'Coso 1', disponibile: 'False'},
          {title: 'moto', message: 'Coso 2', disponibile: 'True'},
          {title: 'moto ma è drill', message: 'Coso 3', disponibile: 'True'},
          {title: 'lesssgoo', message: 'Coso 4', disponibile: 'False'},
          {title: 'Non esistono', message: 'Coso 1', disponibile: 'True'},
          {title: 'i veicoli', message: 'Coso 2', disponibile: 'True' },
          {title: 'a tre', message: 'Coso 3', disponibile: 'False' },
          {title: 'ruote', message: 'Coso 4', disponibile: 'True' },
          {title: 'veicolo figo', message: 'Coso 1', disponibile: 'True'},
          {title: 'veicolo brutto', message: 'Coso 2', disponibile: 'False'},
          {title: 'veicolo shish', message: 'Coso 3', disponibile: 'False'},
          {title: 'veicolo siuuum', message: 'Coso 4', disponibile: 'True' }      
        ]
      }
    })

  </script>
      

</body>




</html>